*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #56638A;
    text-align: center;
}



.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #56203D;
    background-color: #A6D9F7;
}

#reset, #new-btn{
    cursor: pointer;
    padding: 0.75rem;
    font-size: 1.5rem;
    background-color: #F4E8C1;
    color: #56203D;
    border: none;
    border-radius: 0.5rem;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}